<script type="text/javascript" src="https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"></script>
<script>
    function encrypt() {
        var str = prompt('Enter str');
        var key = prompt('Enter key');
    }

    function decrypt() {
        var str = prompt('Enter str');
        var key = prompt('Enter key');
    }
</script>
<body>
    <button onclick="encrypt()">encrypt</button><br/><button onclick="decrypt()">decrypt</button>
</body>